@charset "UTF-8";
/* CSS Document 
Customer_Homepage.css*/


.body{
  background-color: #A3A3A3;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}
.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.AlignTable{
	margin: 0 auto;
 
}
.MarginImage{
  margin: 0 auto;
}
.MarginImageSweatShirt{
	margin-left: 6em;
}
.center {
	margin: 0 auto;
}
.imageHeader{
  width: 12em;
}

.slider-img-size{
  height: auto;
  width: auto;
}

.headerColor{
  background-color: green;
}
.marginTop{
	margin-top: 8em;
}












